{% extends "blog/base.html" %}
{% block content %}
    <h2>About this Page</h2>
    <div>
        <p><br>
            This awesome blog is made on the top of our Favourite full stack Framework 'Django'<br>
            User will be able to create his account, add, delete and update his articles and personal information like
            username,password,email or profile picture.<br>
            He will be able to read other posted articles but will not be able to edit their profile or posts.
        </p>
    </div>
{% endblock content %}